<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>HOME PAGE</title>
  </head>
  <body>
    <p>home</p>
    <%- include("./partials/scripts") %>
  </body>
</html>
