<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Signin | WE.BLOG</title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="card p-4 shadow-sm">
        <h2 class="mb-4 text-center">LOG-IN</h2>
        <form action="/api/user/login" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              name="email"
              required
              placeholder="example@gmail.com"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              required
              placeholder="Enter your password"
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Log-In</button>
        </form>
      </div>
    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
